@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f3f6;
  color: #333;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
  height: 100vh;
}

/* SIDEBAR  */
.sidebar {
  grid-row: 1 / 3;
  background-color: #1976d2;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  padding: 20px;
  height: 100vh;
  overflow-y: auto;
  /* overflow-x: hidden; */
  /* padding-bottom: 30px; */
}

.sidebar h1 {
  font-size: 22px;
  margin-bottom: 20px;
  /* align-self: center; */
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  /* margin: 15px 0; */
  cursor: pointer;
  font-size: 16px;
}

.logo img,
.nav img,
.nav-bottom img {
  filter: brightness(0) invert(1);
  height: 30px;
  /* align-self: baseline; */
}
.logo,
.nav-bottom,
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo,
.nav li,
.nav-bottom li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
}

/* HEADER  */
.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
}

.header-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-left-top {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  gap: 10px;
  /* padding: 1rem; */
}

.search-bar {
  width: 40vw;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.header-left-bottom .user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

header img {
  height: 26px;
}

.description p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.description h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
}

.header-right-top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right-top .user-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-right-top p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

/* BUTTONS  */
.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 15px;
  background: #1976d2;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: backround-color 0.3s ease;
}
.header .user-profile img {
  width: 50px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

/* MAIN CONTENT  */
.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
}

/* PROJECT CARDS */
.projects h2,
aside h2 {
  margin: 15px 10px;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(3, minmax(300, 500px));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  border-left: 10px solid gold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.card h3 {
  grid-column: 1 / 3;
  margin-bottom: 0;
}

.card p {
  grid-column: 1 / 3;
  font-size: 14px;
  margin-bottom: 0;
}

.card-icons {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.card-icons img {
  width: 20px;
}

.side-ifo {
  display: grid;
  gap: 10px;
}
.announcements,
.trending {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.announcement-box {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.announcement-box:last-child {
  border-bottom: none;
}

.trend {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.trend img {
  height: 75px;
  border-radius: 50%;
}
